@model IEnumerable<ChampionshipMvc3.Models.DataContext.Playfield>

@{
    ViewBag.Title = "Play Now";
}

<div id="inputForSearch">
    @using(Html.BeginForm("SearchPlayfieldsByCity","Playfield"))
    {   
        <div>
            <input name="city" type="text" class="textBoxInput"/>
            <input type="submit" value="City"  class="inputSearchButton"/>
        </div>
    }

    @using(Html.BeginForm("SearchPlayfieldsByName", "Playfield"))
    {  
        <div>
            <input name="name" type="text" class="textBoxInput"/>
            <input type="submit" value="Field Name"  class="inputSearchButton"/>
        </div>
    }
</div>
