@model IEnumerable<ChampionshipMvc3.Models.DataContext.Playfield>

@{
    ViewBag.Title = "Home Page";
}

<div>
    @using(Html.BeginForm("SearchPlayfieldsByCity","Playfield"))
    {
        <input name="city" type="text" />
        <input type="submit" value="Search by City" />
    }
</div>
<div>
    @using(Html.BeginForm("SearchPlayfieldsByName", "Playfield"))
    {
        <input name="name" type="text" />
        <input type="submit" value="Search by Name" />
    }
</div>
